<% provide(:page_title, "共同製作メンバー登録") %>
<div class="page-header" title="add member"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form', member_product: @member_product %>
</div>