<% provide(:page_title, "作品リンク登録") %>
<div class="page-header" title="add product link"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form', member_product: @member_product %>
</div>