<% provide(:page_title, "作品リンク編集") %>
<div class="page-header" title="edit product link"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form', product_link: @product_link %>
</div>