<% provide(:page_title, "作品リンク登録") %>
<div class="page-header" title="add product link"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form', product_link: @product_link %>
</div>