<% provide(:page_title, "jackとは") %>
<div class="page-header" title="about"></div>
<div class="container">
  <div class="padding"></div>
  <h2 class="english-shadow" title="information">サークル・団体情報</h2>
  <table class="table table-2col">
    <tr>
      <th>サークル・団体名</th>
      <td>jack</td>
    </tr>
    <tr>
      <th>設立年月日</th>
      <td>2015年11月13日</td>
    </tr>
    <tr>
      <th>人数</th>
      <td><%= Member.count %>人</td>
    </tr>
    <tr>
      <th>活動場所</th>
      <td>名古屋大学</td>
    </tr>
    <tr>
      <th>活動内容</th>
      <td>
        <ul>
          <li>Android・iOSアプリケーション製作</li>
          <li>パソコン用ソフトウェア製作</li>
          <li>サービス・ゲーム企画の構想および運営</li>
          <li>Webコンテンツ製作・提供</li>
          <li>各種ハッカソン・ITイベントへの参加 等</li>
        </ul>
      </td>
    </tr>
  </table>
  <div class="padding"></div>
  <h2 class="english-shadow" title="group identity">サークル・団体理念</h2>
  <h5>やりたいことをやろう</h5>
  <p>
    人は漠然としていても何かしらやりたいことがあると思う。日々の生活や社会に流されてしまい、自分の中にある本当にやりたいことができていないことが多い。jackのメンバー自身がやりたいことをするとともに、他の人もそうなってもらいたい。
  </p>
  <h5>やるからにはちゃんとやろう</h5>
  <p>
    ”ちゃんと”には次の意味合いがあると思っている。
    『中途半端にやらず、０から初めて１００までやる』
    『人に受け入れられる必要なことをする』
    『過程を楽しみ、結果を求める』『自分の今後をつくることをする』
    やりたいことがあっても中々やりきることは難しい。理想的な状態に到達するまでには長い道のりがある。道中が険しい山があるかもしれない。でも、人から求められることであればどうだろうか？過程が楽しければどうだろうか？jackは過程を楽しみ、人のためになることをしよう。
    しかし、なおも思い悩む、自分の上っている山の先に未来はあるのだろうか？、登りきったら次は何があるのだろうか？jackはメンバーの今後につながる経験を積む場であるべきだ。今後の自分のためになることを行って行くとともに、どこに行っても必要となる経験も積んでいこう。
  </p>
  <h5>ITを足掛かりに、「want」を達成する</h5>
  <p>
    jackはアプリやWebコンテンツをつくっている。それには、企画・開発・運営といったことが必要だ。ITは自分たちがやりたいことを達成するための強力な手段である。一方、プログラムを書くことが全てではない。自分たちが欲していること、そして人が欲していることが何かを捉えることが大切だ。そして、作り上げ、世に出して、それを広め、人から受け入れられて初めて、jack内外の”Want”が達成できていると考える。
  </p>
  <div class="padding"></div>
  <h2 class="english-shadow" title="prohibition">サークル・団体禁則</h2>
  <p>
    この団体は、飲み会への強制参加およびコールなどの強制飲酒、不当な金銭の要求、不適切な性的関係を目的とした団体ではありません。<br/>
    メンバーの入会および退会はいつでも自由に行えます。<br/>
    未成年の飲酒、喫煙をはじめとする犯罪を助長しません。
  </p>
  <div class="padding"></div>
</div>