<% provide(:page_title, "") %>
<div class="header-back"></div>
<div class="container">
  <div class="padding"></div>
  <div class="row">
    <div class="col-lg-6">
      <h1 class="motto">やりたいことを<br/>やれるようになって、<br/>やる。</h1>
    </div>
    <div class="col-lg-6">
      <p>
        jackは名古屋大学を中心とした、アプリを製作するサークル・団体です。<br/>
        主にAndroidアプリ、iPhoneアプリ、webサービス、パソコン用ソフトなどを開発しています。<br/>
      </p>
      <p>
        やりたいことを「やりたい」だけでとどめず、<br/>
        ITを通じて実現することで、メンバーの成長の機会を提供しています。
      </p>
      <p>
        ワクワクするようなアプリやサービスを生み出したい、素敵なデザインを描いてみたい、あっと驚くような企画を立てたい。
      </p>
      <p>
        jackはいつだって、そんな「やりたい」を歓迎します!
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="hr-padding"></div>
  <div class="row">
    <div class="col-md-4 offset-md-4"><%= link_to "2020年 新歓&メンバー募集", welcome_path, class:'button' %></div>
    <!--<div class="col-md-4"><!%= link_to "名大祭2018", meidaisai_path, class:'button' %></div>//-->
  </div>
</div>