<% provide(:page_title, "名大祭") %>
<div class="page-header" title="Nagoya Univ Fes 2018"></div>
<div class="container">
  <div class="padding"></div>
  <h2 class="english-shadow" title="Nagoya University Festival">アプリ展示・体験会</h2>
  <p>名大祭2018では、<b>6月9日、10日</b>にて<b>名古屋大学 全学教育棟C21</b>にてアプリの展示・体験会を行います！</p>
  <h2 class="english-shadow">Coming Soon</h2>
  <div class="padding"></div>
</div>