<% provide(:page_title, "新歓 メンバー募集") %>
<div class="page-header" title="welcome"></div>
<div class="container">
  <div class="padding"></div>
  <h2 class="english-shadow" title="member wanted">新歓参加者募集</h2>
  <p>
    jackはパソコンを使ってwebサービスやアプリなどを作っているサークルです！<br/>
    作ってみたいけど全くやり方が分からない人やパソコンを使ったことがない人でも大歓迎！<br/>
    パソコンを使ったものづくりに興味がある方や、自分のアイデアを形にしてみたいという人はまずは新歓でお待ちしております！<br/>
  </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="contents">新歓内容</h3>
  <p>
    新歓では先輩たちに教わりながら実際にアプリを開発し、jackの活動を体験してもらいます。<br/>
    実際に書いてそれが動いたときに得られる感動、達成感を一緒に味わいましょう！<br/>
  </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="date&time">新歓日程</h3>
  <table class="table">
    <tr>
      <th>日程</th>
    </tr>
    <tr>
      <td>5月2日(土)  14:00 ~ 16:00 Webサイトを作ろう（チャットBot）</td>
    </tr>
    <tr>
      <td>5月3日(水)  14:00 ~ 16:00 ゲームを作ろう（マリオ風ゲーム）</td>
    </tr>
  </table>
  <div class="padding"></div>
  <h3 class="english-shadow" title="items">持ち物</h3>
  <h5>Zoom（アプリ）の利用できる端末</h5>
  <p>事前にZoomを端末にインストールしていただけますようお願いします。</p>
  <h5>パソコン</h5>
  <p>windows、mac、linuxいずれでも大丈夫です。</p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="place">場所</h3>
    <p>
      コロナの影響を受け対面で新歓を行うことができません！<br/>
      オンライン会議ツールZoomを利用します。<br/>
      Zoomのリンクは直接メールでお送りします。<br/>
    </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="remarks">注意事項</h3>
  <h5>jackへの加入について</h5>
  <p>
    「新歓に参加したからjackに入らなくてはいけない」ということはありません。<br/>
    今年度にjackに加入する新入生の顔合わせは別日にありますので、 新歓にはお気軽に参加ください。<br/>
  </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="application">申し込み</h3>
  <p>
    以下のフォームから申し込みをよろしくお願いします。<br/>
    連絡はメールのみとなりますので、確実に連絡の取れるメールアドレスを選んでください。
  </p>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= link_to "申し込みフォーム", "https://forms.gle/Fx2UYTPBrg5q4yjKA", class:'button', target: '_blank' %></div>
  </div>
  <div class="hr-padding"></div>
</div>
