<% provide(:page_title, "新歓 メンバー募集") %>
<div class="page-header" title="welcome"></div>
<div class="container">
  <div class="padding"></div>
  <h2 class="english-shadow" title="member wanted">新歓参加者募集</h2>
  <p>
    jackはパソコンを使ってwebサービスやアプリなどを作っているサークルです！<br/>
    作ってみたいけど全くやり方が分からない人やパソコンを使ったことがない人でも大歓迎！<br/>
    パソコンを使ったものづくりに興味がある方や、自分のアイデアを形にしてみたいという人はまずは新歓でお待ちしております！<br/>
  </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="contents">新歓内容</h3>
  <p>
    新歓では単純なゲームがより面白くなるアイデアをみんなで考えてそれを実際に作ります！<br/>
    jackのメンバーがいつもやっている「自分たちのアイデアを形にする」という体験を一緒にしませんか？<br/>
    自分たちが考えたアイデアが実際に動いている感動を一緒に感じましょう！<br/>
  </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="date&time">新歓日程</h3>
  <table class="table">
    <tr>
      <th>日程</th>
    </tr>
    <tr>
      <td>4月５日(金)  14:30 ~ 16:00</td>
    </tr>
    <tr>
      <td>4月10日(水)  13:30 ~ 15:00</td>
    </tr>
    <tr>
      <td>4月13日(日)  14:30 ~ 16:00</td>
    </tr>
    <tr>
      <td>4月15日(月)  17:00 ~ 18:30</td>
    </tr>

  </table>
  <p>4月18日(木)時点で、新加入メンバーを確定させていただきます。</p>

  <div class="padding"></div>
  <h3 class="english-shadow" title="items">持ち物</h3>
  <h5>名古屋大学の学生証</h5>
  <p>図書館で新歓を行いますので入館の際に必要となります。もし忘れてしまった場合や学生証がない場合は連絡をください。</p>
  <h5>パソコン</h5>
  <p>どちらでも構いませんが、あると便利です。windows、mac、linuxいずれでも大丈夫です。</p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="place">場所</h3>
    <p>
      新歓は名古屋大学中央図書館のラーニングポッドで行います。<br/>
      一度<strong>地下鉄名城線 名古屋大学駅1番出口</strong>に新歓の開始時間の<strong>15分前</strong>に集合していただいた後jackのものが図書館に案内します。ですので一度名古屋大学駅1番出口に必ず集まってください。
    </p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="remarks">注意事項</h3>
  <h5>jackへの加入について</h5>
  <p>
    「新歓に参加したからjackに入らなくてはいけない」ということはありません。
    今年度にjackに加入する新入生の顔合わせは別日にありますので、新歓にはお気軽に参加ください。
    また、入るかもしれない方は4月18日(木)に顔合わせを行いますので、予定を空けておいていただけると幸いです。</p>
  <div class="padding"></div>
  <h3 class="english-shadow" title="application">申し込み</h3>
  <p>
    万が一の当日の遅刻や忘れ物に備えて、申し込んだ方と確実に連絡が取れるようにしておきたいです。そのために<strong>申し込みの前に</strong>以下の3つのうちから都合のいい連絡先を選んでください。<br/>
    当日遅刻や欠席などの連絡は、選んでいただいた3つの方法でお願いします。
  </p>
  <h5>1.LINE</h5>
  <p>
    jackのLINEアカウントを友達登録してください。<br/>
    こちらのリンクから登録できます。<a href="line://ti/p/@dsf0878s" target="_blank"><span>line://ti/p/@dsf0878s</span></a><br/>
    当日の連絡は、トークからお願いします。
  </p>
  <h5>2.twitter</h5>
  <p>
    jackのTwitterアカウントをフォローしてください。<br/>
    jackのtwitterのアカウントはこちらです。<a href="https://twitter.com/jackapp_tmy" target="_blank"><span>https://twitter.com/jackapp_tmy</span></a><br/>
    当日の連絡は、DMからお願いします。
  </p>
  <h5>3.メール</h5>
  <p>
    特に事前に行うことはありません。申し込みフォームにお進みください。<br/>
    当日の連絡は、<%= link_to "<span>jackapp.tmy@gmail.com</span>".html_safe, "mailto:jackapp.tmy@gmail.com" %>までお願いします。
  </p>
  <p>上記の3つから連絡先を選んでいただけましたら、こちらから申し込みをお願いいたします。</p>
  <div class="row">
    <div class="col-md-4 offset-md-4"><%= link_to "申し込みフォーム", "https://docs.google.com/forms/d/e/1FAIpQLScToE8mhZz3nEP2jQdANYVZeLuXOiO9dvdSVQyAL5h_UeHsRg/viewform?usp=sf_link", class:'button', target: '_blank' %></div>
  </div>
  <div class="hr-padding"></div>
</div>
