<% provide(:page_title, "イベント・実績") %>
<div class="page-header" title="events/results"></div>
<div class="container">
  <div class="padding"></div>
  <table class="table">
    <tr>
      <th>日時</th>
      <th>イベント</th>
    </tr>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.start_at.strftime('%-m月%-d日(%a)') %></td>
          <td><%= event.name %></td>
        </tr>
    <% end %>
  </table>
  <div class="padding"></div>
</div>