@import "bootstrap";
@import "static_pages";
@import "members";
@import "products";

body {
  font-feature-settings : "palt";
  font-family: "Roboto", "Avenir Next", "游ゴシック", "メイリオ";
  color: #474747;
  margin: 0;
  padding: 0;
  height: 100%;
  &:after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#eeeeee, #ffffff);
    z-index: -1;
  }
  header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    color: #ffffff;
    padding: 30px 20px;
    z-index: 2;
    &:before {
      position: fixed;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f39518;
      transform: skewY(-1.5deg);
      transform-origin: top left;
      z-index: 0;
    }
    .logo {
      position: absolute;
      bottom: 0px;
      left: 10%;
      width: 100px;
      transform: skewY(-1.5deg);
      transform-origin: top left;
      font-size: 2em;
    }
    ul {
      width: 100%;
      text-align: right;
      li {
        display:inline;
        a {
          position: relative;
          color: #ffffff;
          transition: .5s;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: #474747;
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            transition: .5s;
          }
          &:hover:after {
            width: 100%;
            transition: .3s;
          }
          &:hover {
            color: #474747;
            text-decoration: none;
            transition: .3s;
          }
        }
      }
    }
  }
  .header-back {
    position: relative;
    width: 100%;
  }
  .page-header {
    position: relative;
    width: 100%;
    background: linear-gradient(#111111, #222222);
    transform: skewY(-1.5deg);
    transform-origin: top left;
    color: #f39518;
    .icon {
      position :absolute;
      bottom: 40px;
      left: 50%;
      opacity: 0.4;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      -webkit-box-reflect: below 0px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.5, transparent), to(rgba(0,0,0,0.8)));

    }
    &:after {
      content: attr(title);
      position :absolute;
      bottom: 40px;
      left: 50%;
      font-size: 1.5em;
      z-index: 1;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      -webkit-box-reflect: below 0px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.5, transparent), to(rgba(0,0,0,0.8)));

    }
  }
  hr, .hr {
    height: 1px;
    border: none;
    background-color: #f39518;
  }
  .hr-padding{
    background-repeat: no-repeat;
    background-position:center center;
  }
  .copyright {
    text-align: center;
    padding: 1em 0 3em;
  }
  .english-shadow {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0px;
      width: 100%;
      height: 1px;
      background: #f39518;
    }
  }
  a {
    span {
      color: #f39518;
      display: inline-block;
    }
    &:hover span {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg);
      transition: 0.5s;
    }
  }
}
@media screen and (min-width: 769px){
  header {
    height: 100px;
    &:before {
      height: 100px;
    }
  }
  .header-back {
    height: 100px;
  }
  .page-header {
    height: 250px;
  }
  h1 {
    font-size: 3em;
    width: 100%;
  }
  .padding {
    height: 100px;
  }
  .hr-padding {
    height: 100px;
    background-image: image-url("hr.png");
  }
  .english-shadow:after {
    position: absolute;
    bottom: 0px;
    content: attr(title);
    font-size: 0.5em;
    color: #f39518;
    width: 100%;
  }
}

@media screen and (max-width: 769px){
  header {
    height: 150px;
    &:before {
      height: 150px;
    }
    ul {
      width: 100%;
    }
  }
  .header-back {
    height: 150px;
  }
  .page-header {
    height: 300px;
  }

  h1 {
    font-size: 2em;
  }
  .padding {
    height: 50px;
  }
  .hr-padding {
    height: 50px;
    background-size: 150px;
  }
}

@media only screen and (max-width:480px){
  .table-2col {
    th, td {
      width: 100%;
      display: block;
      border-top: none;
    }
  }
}
th {
  background: #eeeeee;
}
ul{
  padding-left: 0;
  li {
    list-style:none;
  }
}