.motto {
  color: #f39518;
  margin: 50px 0;
}
.button {
  display: inline-block;
  margin: 0.5em 0;
  padding: 1em 0;
  width: 100%;
  border: solid #f39518 1px;
  text-align: center;
  position: relative;
  color: #f39518;
  transition: .5s;
  border-radius: 1px;
  &:hover {
    color: #ffffff;
    background-color: #f39518;
    text-decoration: none;
    transition: .3s;
  }
}