<% provide(:page_title, "SNS追加") %>
<div class="page-header" title="add SNS link"></div>
<div class="container">
  <div class="padding"></div>
  <%= form_for @sns_link do |f| %>
      <div class="form-group">
        <label>SNSの種類(twitter、facebookなど)</label>
        <%= f.text_field :name, class:'form-control' %>
      </div>

      <div class="form-group">
        <label>URL</label>
        <%= f.text_field :url, class:'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>
  <% end %>
</div>