<% provide(:page_title, "作品編集") %>
<div class="page-header" title="edit product"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form' %>
  <div class="padding"></div>
</div>
