<% provide(:page_title, "作品登録") %>
<div class="page-header" title="add product"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form' %>
  <div class="padding"></div>
</div>