<% provide(:page_title, "#{@member.name}の編集") %>
<div class="page-header" title="edit <%= @member.name %>"></div>
<div class="container">
  <div class="padding"></div>
  <%= render 'form' %>
  <div class="gravatar_edit">
    <%= gravatar_for @member %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>
